In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [48]:
df = pd.DataFrame(data=randn(5,4), index=['A','B','C','D','E'], columns=['W','X','Y','Z'])

In [50]:
df['W']

A    1.606780
B    0.041460
C   -0.804652
D   -1.080471
E    0.975720
Name: W, dtype: float64

In [51]:
df[['W','Z']]

          W         Z
A  1.606780 -1.329660
B  0.041460  0.110477
C -0.804652  0.358941
D -1.080471  0.833029
E  0.975720 -0.708954

In [52]:
df['new'] = df['W'] + df['Z']

In [53]:
df['new']

A    0.277120
B    0.151937
C   -0.445711
D   -0.247442
E    0.266766
Name: new, dtype: float64

In [54]:
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.277120
B  0.041460 -0.411055 -0.771329  0.110477  0.151937
C -0.804652  0.253548  0.649148  0.358941 -0.445711
D -1.080471  0.902398  0.161781  0.833029 -0.247442
E  0.975720 -0.388239  0.783316 -0.708954  0.266766

In [55]:
df.drop('new',axis=1, inplace=True)

In [56]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [57]:
df.drop('E',inplace=True)

In [58]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029

In [59]:
df.loc['C']

W   -0.804652
X    0.253548
Y    0.649148
Z    0.358941
Name: C, dtype: float64

In [60]:
df.iloc[2]

W   -0.804652
X    0.253548
Y    0.649148
Z    0.358941
Name: C, dtype: float64

In [61]:
df.loc[['C','B'],['Y','Z']]

          Y         Z
C  0.649148  0.358941
B -0.771329  0.110477

In [62]:
df['E'] = [-0.925874, 1.862864, -1.133817, 0.610478]

In [63]:
df

          W         X         Y         Z         E
A  1.606780 -1.115710 -1.385379 -1.329660 -0.925874
B  0.041460 -0.411055 -0.771329  0.110477  1.862864
C -0.804652  0.253548  0.649148  0.358941 -1.133817
D -1.080471  0.902398  0.161781  0.833029  0.610478

In [64]:
df.drop('E',axis=1, inplace=True)

In [65]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029

In [66]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029